/* Import theme variables */
@import "themes/nord";

* {
  font-family: "Hack Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: $background;
}

#workspaces button {
  color: $textcolor;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: $highlightmodule;
}

#workspaces button.focused {
  color: $blue;
}

.modules-left {
  margin: 5px 0px;
}

.modules-right {
  margin: 5px;
}
.modules-right * {
  margin: 5px 0;
}

#mode {
  background-color: $highlightmodule;
}

#pulseaudio,
#clock,
#tray {
  padding: 0px 10px;
}

#clock {
  color: $textcolor;
}

#tray > * {
  margin: 2px;
}

#pulseaudio {
  color: $textcolor;
}
